.colorlogo {color: rgba(33, 150, 243, 1) ;
    text-decoration: none;
font-family: raleway, sans-serif;
Size: 40px;
width: 700;text-decoration: none;}
.button {
    background-color: rgba(245, 244, 250, 1);
    font-family:Roboto;
    cursor:pointer;
font-size: 16px; }
.button:hover 
{background-color: rgba(33, 150, 243, 1);
 color:white;}

 .button-1{
    background-color: rgba(245, 244, 250, 1);
font-family: :Roboto;
cursor:pointer;
weight:700; 
 }
 .button-1:hover {
    background-color: rgba(33, 150, 243, 1);
    color:white;}

.adresss-naglowek:hover {color:rgba(33, 150, 243, 1)}
.blue {color:rgba(33, 150, 243, 1)}


body {font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;}



.naglowki { font-size: 16px;
width: 500;}


